USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersForDelivery]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[GetOrdersForDelivery]
@deliveryid int
as
begin

select order_id,order_date,shopdeliveryPin,s.latitude shoplatitude,s.longitude shopLongitude,ps.phone_number shopphonenumber,s.name shopname,s.shop_id,
ps.email shopemail, pc.first_name+' '+pc.last_name clientname ,pc.email  clientemail,
pc.phone_number clientphonenumber,
clo.latitude clientlatitude,clo.longitude clintlongitude
from clientorder clo inner join Client cl on clo.client_id=cl.client_id
inner join Shop s on clo.shopid=s.shop_id
inner join ShopOwner so on so.shopowner_id=s.shopowner_id
inner join Person  ps on ps.person_id=so.person_id
inner join Person pc on pc.person_id =cl.person_id
where delivery_id=@deliveryid

end
GO
