USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[addproductimage]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[addproductimage]
(
    @productid INT,
    @imgurl VARCHAR(100),
    @deletehash VARCHAR(100),
    @isprofile BIT,
    @Success BIT OUTPUT,
    @ErrorMessage NVARCHAR(4000) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @imageid INT;

        SELECT @imageid = ImageId
        FROM ProductImages
        WHERE productid = @productid AND ImageUrl = @imgurl;

        IF @imageid IS NULL
        BEGIN
            INSERT INTO ProductImages(productId, Imageurl, deletehash)
            VALUES (@productid, @imgurl, @deletehash);

            SET @imageid = CAST(SCOPE_IDENTITY() AS INT);
        END

        IF @isprofile = 1
        BEGIN
            UPDATE product
            SET imgurl_id = @imageid
            WHERE product_id = @productid;
        END

        SET @Success = 1;
        SET @ErrorMessage = NULL;
    END TRY
    BEGIN CATCH
        SET @Success = 0;
        SET @ErrorMessage = ERROR_MESSAGE();
    END CATCH
END
GO
