USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[checkDelivery]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[checkDelivery]
(  @password varchar(100), @email varchar(100)=null,@phonenumber varchar(100),
@iscorrect bit out,@deliverytype varchar(100),@deliveryid int out)
as
    SET NOCOUNT ON;

set @deliveryid=0;
set @iscorrect=0;
declare @countdeliveyagent int ;
if @deliverytype='agent'
begin
select @deliveryid=isnull(Delivery_Agent_Id,0)
from DeliveryAgent
where  Password=@password and (email=@email or @email is null)
and phone_number=@phonenumber;
end
if @deliverytype='person'
begin
select @deliveryid=Isnull(delivery_person_id,0)
from PersonDelivery pd inner join  Person p on pd.person_id=p.person_id
where password=@password and 
 (email=@email or @email is null) and phone_number=@phonenumber;
end
if @deliverytype='shop'
begin
select @deliveryid=IsNull(delivary_shop_id,0)
from ShopDelivery sd inner join shop s on sd.shop_id=s.shop_id 
inner join ShopOwner so on so.shopowner_id=s.shopowner_id
inner join person p on p.person_id=so.person_id 
where (email=@email or @email is null) and phone_number=@phonenumber
end

if @deliveryid !=0 and @deliveryid is not null
set @iscorrect=1
else
set @iscorrect=0
GO
