USE [online_shop]
GO
/****** Object:  UserDefinedTableType [dbo].[products]    Script Date: 8/10/2025 2:24:55 PM ******/
CREATE TYPE [dbo].[products] AS TABLE(
	[productid] [int] NULL,
	[quntity] [int] NULL
)
GO
