USE [online_shop]
GO
/****** Object:  UserDefinedTableType [dbo].[Deliveryworkinghourtable]    Script Date: 8/10/2025 2:24:55 PM ******/
CREATE TYPE [dbo].[Deliveryworkinghourtable] AS TABLE(
	[weekday] [varchar](50) NULL,
	[open_time] [time](7) NULL,
	[close_time] [time](7) NULL
)
GO
