USE [online_shop]
GO
/****** Object:  Table [dbo].[regiondelivery]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regiondelivery](
	[region_deliveryid] [int] IDENTITY(1,1) NOT NULL,
	[delivery_id] [int] NULL,
	[region_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[region_deliveryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[regiondelivery]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
ALTER TABLE [dbo].[regiondelivery]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[Regions] ([Region_id])
GO
