USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[insertorderafterpayment]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure  [dbo].[insertorderafterpayment]
@personid int,@shopid int,@totalprice decimal(9,6) ,@deliverycost decimal(9,6),@latitude decimal(9,6),@longitude decimal(9,6),
@products products readonly,@deliveryid int,@paymentmethod varchar(100),@shopdeliverypin varchar(100),
@clientdeliverypin varchar(100)
AS
BEGIN TRY
    BEGIN TRANSACTION;

    DECLARE @productid INT, @quantity INT, @orderid INT,@clientid int;
	select @clientid=client_id from Client where person_id=@personid;

    -- Insert into clientorder
    INSERT INTO clientorder(client_id, total_price, order_date, order_status, latitude, longitude, shopid,delivery_id,shopdeliveryPin,deliverycost,clientdeliveryPIN)
    VALUES (@clientId, @totalprice, GETDATE(), 'paid', @latitude, @longitude, @shopid,@deliveryid,@shopdeliverypin,@deliverycost,@clientdeliverypin);

    -- Get the new order ID
    SET @orderid = SCOPE_IDENTITY();

    -- Cursor to iterate through products
    DECLARE productcursor CURSOR FOR 
        SELECT productid, quntity FROM @products;

    OPEN productcursor;
    FETCH NEXT FROM productcursor INTO @productid, @quantity;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO OrderDetail(order_id, product_id, quantity)
        VALUES (@orderid, @productid, @quantity);

        FETCH NEXT FROM productcursor INTO @productid, @quantity;
    END

    CLOSE productcursor;
    DEALLOCATE productcursor;

  

	Insert into payment values(@orderid,'payied but wait delivery',@paymentmethod)

    COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION;
    THROW;
END CATCH
GO
