USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[GetNeworder]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[GetNeworder] 
@shopid int 
as
BEGIN
    SELECT 
        clo.order_id,
        clo.order_date,
        dp.Provider_Type,
		dp.delivery_Id,
        -- Dynamic contact info based on provider type
        CASE 
            WHEN dp.Provider_Type = 'shop' THEN 'You are delivery'
            WHEN dp.Provider_Type = 'agent' THEN da.name
            WHEN dp.Provider_Type = 'person' THEN p.first_name+' '+last_name
            ELSE NULL
        END AS deliveryName,

        CASE 
            WHEN dp.Provider_Type = 'agent' THEN da.phone_number
            WHEN dp.Provider_Type = 'person' THEN p.phone_number
            ELSE NULL
        END AS Phonenumber,

        CASE 
            WHEN dp.Provider_Type = 'agent' THEN da.email
			 WHEN dp.Provider_Type = 'person' THEN p.email
            ELSE NULL
        END AS Email

    FROM 
        ClientOrder clo
        INNER JOIN DeliveryProvider dp ON clo.delivery_id = dp.delivery_Id
        LEFT JOIN DeliveryAgent da ON dp.delivery_Id = da.Delivery_Agent_Id
        LEFT JOIN PersonDelivery pd ON dp.delivery_Id = pd.delivery_person_id
        LEFT JOIN Person p ON pd.person_id = p.person_id
    WHERE 
        clo.shopid = @shopid and clo.order_status='paid'
    ORDER BY 
        clo.order_date DESC;
END
GO
