USE [online_shop]
GO
/****** Object:  Table [dbo].[ShopDelivery]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopDelivery](
	[delivary_shop_id] [int] NOT NULL,
	[shop_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[delivary_shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShopDelivery]  WITH CHECK ADD FOREIGN KEY([delivary_shop_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
ALTER TABLE [dbo].[ShopDelivery]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[Shop] ([shop_id])
GO
