USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[Recieveorderfromdeliverytoclient]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[Recieveorderfromdeliverytoclient]
@orderid int ,@delievry_id int , @clientdeliveryPin varchar(50),@isexecute bit output
as
begin
set @isexecute=0
declare @countorder int 
select @countorder=count(order_id)
from clientorder
where delivery_id=@delievry_id and clientdeliveryPIN=@clientdeliveryPin and order_id=@orderid

if @countorder=1
begin 
update clientorder
set order_status='reach to client', clientdeliveryPIN=null
set @isexecute=1
end

end
GO
