USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[AddDeliveryAgent]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[AddDeliveryAgent](@name varchar(50),@phone_number varchar(50),
@email varchar(50),@password varchar(50),@provider_type varchar(50),@note_text Text,
@active_bit bit ,
@region regionnames readonly, @workinghourtable Deliveryworkinghourtable readonly ,
@isfound bit output)


as
BEGIN TRY
BEGIN TRANSACTION;
declare @delivery_agent_id int ,@delivery_provider_id int ;
select @delivery_agent_id=delivery_agent_id 
from DeliveryAgent
where email=@email or phone_number=@phone_number or name=@name

if  @delivery_agent_id is not null and @delivery_agent_id !=0
begin
set @isfound=1;
ROLLBACK TRANSACTION;
return 
end
else
begin 
set @isfound=0
insert into DeliveryProvider values(@provider_type,@note_text,@active_bit,GETDATE(),null);
 set @delivery_provider_id=SCOPE_IDENTITY();
 insert into DeliveryAgent (Delivery_Agent_Id,name,phone_number,email,Password) values
 (@delivery_provider_id,@name,@phone_number,@email,@password);
 insert into regiondelivery(delivery_id,region_id)
 select  @delivery_provider_id,Region_id
  from Regions where Name in (select regionname from @region);

insert into DeliveryWorkingHours 
select @delivery_provider_id,weekday,open_time,close_time
from @workinghourtable;

end;
    COMMIT TRANSACTION;
	end try
	BEGIN CATCH
    ROLLBACK TRANSACTION;
 
    THROW;
END CATCH;



GO
