USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[GetPhoneAndEmailDelivery]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[GetPhoneAndEmailDelivery]
@deliveryproviderid int, @phonenumber varchar(50) out ,@email varchar(50) out ,
@providertype varchar(50) out,@deliveryname varchar(50) out
as
select @providertype=Provider_Type
from DeliveryProvider 
where delivery_Id=@deliveryproviderid;

if @providertype='person' 
begin
select @phonenumber= p.phone_number,@email=p.email,@deliveryname=p.first_name+' '+p.last_name
from Person p,PersonDelivery pd
where p.person_id=pd.person_id;
end
if @providertype='Agent'
begin
select @phonenumber =phone_number, @email=email,@deliveryname=name
from DeliveryAgent;
end


GO
