USE [online_shop]
GO
/****** Object:  Table [dbo].[DeliveryAgent]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAgent](
	[Delivery_Agent_Id] [int] NOT NULL,
	[name] [varchar](150) NULL,
	[phone_number] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[logo_url] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Delivery_Agent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryAgent]  WITH CHECK ADD FOREIGN KEY([Delivery_Agent_Id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
