USE [online_shop]
GO
/****** Object:  UserDefinedTableType [dbo].[regionnames]    Script Date: 7/30/2025 4:30:31 PM ******/
CREATE TYPE [dbo].[regionnames] AS TABLE(
	[regionname] [varchar](50) NULL
)
GO
