USE [online_shop]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NULL,
	[price] [decimal](10, 2) NULL,
	[description] [text] NULL,
	[category_id] [int] NULL,
	[status] [varchar](50) NULL,
	[quantity] [int] NULL,
	[shop_id] [int] NULL,
	[imgurl_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([shop_id])
REFERENCES [dbo].[Shop] ([shop_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ImgUrl] FOREIGN KEY([imgurl_id])
REFERENCES [dbo].[ProductImages] ([ImageId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ImgUrl]
GO
