USE [online_shop]
GO
/****** Object:  Table [dbo].[DeliveryWorkingHours]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryWorkingHours](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_id] [int] NOT NULL,
	[weekday] [varchar](10) NOT NULL,
	[open_time] [time](7) NOT NULL,
	[close_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryWorkingHours]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
