USE [online_shop]
GO
/****** Object:  Table [dbo].[clientorder]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientorder](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[order_date] [datetime] NULL,
	[order_status] [varchar](20) NULL,
	[latitude] [decimal](18, 11) NULL,
	[longitude] [decimal](18, 11) NULL,
	[shopid] [int] NULL,
	[delivery_id] [int] NULL,
	[clientdeliveryPIN] [varchar](100) NULL,
	[clientrecievedata] [datetime] NULL,
	[deliveryshoprecievedata] [datetime] NULL,
	[shopdeliveryPin] [varchar](100) NULL,
	[deliverycost] [decimal](18, 10) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientorder] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[clientorder]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([client_id])
GO
ALTER TABLE [dbo].[clientorder]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
ALTER TABLE [dbo].[clientorder]  WITH CHECK ADD FOREIGN KEY([shopid])
REFERENCES [dbo].[Shop] ([shop_id])
GO
