USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[AddDeliveryShop]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[AddDeliveryShop] (@shopid int ,  @provider_type VARCHAR(20),@note_text TEXT = NULL,
    @active_bit BIT = NULL,@regionnames regionnames READONLY,
	@hourworkday Deliveryworkinghourtable readonly,@isfound bit output)
	as

	begin try 
	BEGIN TRANSACTION;
	declare @DeLivery_shop_id int ;
	select @DeLivery_shop_id=delivary_shop_id
	from ShopDelivery where shop_id=@shopid;
	if @DeLivery_shop_id is not null and @DeLivery_shop_id !=0
	begin 
	set @isfound=1

	end 
	else
	begin
	insert into DeliveryProvider values(@provider_type,@note_text,@active_bit,getdate(),null);
	set @DeLivery_shop_id=SCOPE_IDENTITY();
	insert into DeliveryWorkingHours 
	select @DeLivery_shop_id,weekday,open_time,close_time
	from @hourworkday

	insert into regiondelivery(delivery_id,region_id)
	select @DeLivery_shop_id ,region_id
	from Regions where Name in (select regionname  from @regionnames wher );

	insert into ShopDelivery(delivary_shop_id,shop_id) values
	(@DeLivery_shop_id,@shopid);
	set @isfound=0
	end
	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION;
    THROW;
END CATCH;
GO
