USE [online_shop]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NULL,
	[logo_url] [varchar](255) NULL,
	[created_date] [datetime] NULL,
	[description] [text] NULL,
	[shopowner_id] [int] NULL,
	[deletehashimage] [varchar](100) NULL,
	[type] [varchar](100) NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shop] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD FOREIGN KEY([shopowner_id])
REFERENCES [dbo].[ShopOwner] ([shopowner_id])
GO
