USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[GetItemOfOrder]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[GetItemOfOrder]
@orderid int
as
begin
select od.Product_id,od.quantity,p.name,p.imgurl_id,p.description
from OrderDetail od inner join product p on p.product_id=od.product_id
where od.order_id=@orderid;

end
GO
