USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[recieveorderfromshoptoorder]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[recieveorderfromshoptoorder]
@orderid int , @shopid int ,@delivery_id int , @shopdeliverypin  varchar(100),
@iscorrectdelivery bit  out
as
begin
declare @countorderid int ;
select @countorderid=count(order_id)
from clientorder
where order_id=@orderid and shopid=@shopid and shopdeliveryPin=@shopdeliverypin;

if @countorderid=0
begin 
set @iscorrectdelivery=0;
return
end

if @countorderid>0
begin
update clientorder
set order_status='with delivery'  , shopdeliverypin=null
where order_id=@orderid
set @iscorrectdelivery=1
end
end

GO
