USE [online_shop]
GO
/****** Object:  Table [dbo].[DeliveryOrder]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryOrder](
	[delivery_order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[delivery_id] [int] NULL,
	[assigned_at] [datetime] NULL,
	[delivered_at] [datetime] NULL,
	[delivery_status] [varchar](20) NULL,
	[delivery_cost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryOrder] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[DeliveryOrder]  WITH CHECK ADD FOREIGN KEY([delivery_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
ALTER TABLE [dbo].[DeliveryOrder]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[clientorder] ([order_id])
GO
