USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[getproduct]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   procedure [dbo].[getproduct]( @shopid int=0, @limit int =30,@offset int=0,
@searchbyproductname varchar(50) =null,@searchbycategory varchar(50) =null,
@searchbyshoptype varchar(50) =null)
as
begin

if  @shopid!=0 
begin
SELECT 
    p.product_id, 
	p.status,
    p.name, 
	p.imgurl_id,
    p.price, 
    p.description, 
    c.category_id, 
    p.shop_id
FROM product p
INNER JOIN Category c ON c.category_id = p.category_id

WHERE 
     p.shop_id=@shopid and 
	  (
                (@searchbyproductname IS NOT NULL AND p.name LIKE '%' + @searchbyproductname + '%')
                OR (@searchbycategory IS NOT NULL AND c.name LIKE '%' + @searchbycategory + '%')
                OR (@searchbyproductname IS NULL AND @searchbycategory IS NULL)  -- fallback to no filtering
            )


order by product_id asc 
offset @offset Rows fetch next @limit Rows only;
end;
else
begin
SELECT 
    p.product_id, 
	
    p.name , 
	p.status,
	p.imgurl_id,
    p.price , 
    p.description, 
    c.category_id, 
    p.shop_id
FROM product p
INNER JOIN Category c ON c.category_id = p.category_id
INNER JOIN Shop s ON s.shop_id = p.shop_id
WHERE 
    (
                (@searchbyproductname IS NOT NULL AND p.name LIKE '%' + @searchbyproductname + '%')
                OR (@searchbycategory IS NOT NULL AND c.name LIKE '%' + @searchbycategory + '%')
                OR (@searchbyshoptype IS NOT NULL AND s.type LIKE '%' + @searchbyshoptype + '%')
                OR (@searchbyproductname IS NULL AND @searchbycategory IS NULL AND @searchbyshoptype IS NULL)
            )

order by product_id asc 
offset @offset Rows fetch next @limit Rows only;
end;
end;
GO
