USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[AddDeliveryperson]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDeliveryperson]
    @existperson BIT = NULL,
    @first_name VARCHAR(50) = NULL,
    @last_name VARCHAR(50) = NULL,
    @provider_type VARCHAR(20),
    @email VARCHAR(100) = NULL,
    @passward VARCHAR(300) = NULL,
    @sex VARCHAR(10) = NULL,
    @phonenumber VARCHAR(50) = NULL,
    @note_text TEXT = NULL,
    @active_bit BIT = NULL,
    @Region_Name VARCHAR(50) = NULL,
    @regionnames regionnames READONLY,
	@hourworkday Deliveryworkinghourtable readonly,
    @isfound BIT OUTPUT  -- ✅ Output parameter
AS
BEGIN TRY
    BEGIN TRANSACTION;

    DECLARE @person_id INT;
    DECLARE @delivery_id INT;

    -- Check if person already exists
    SELECT @person_id = person_id
    FROM Person
    WHERE email = @email OR phone_number = @phonenumber;

    -- Default value
    SET @isfound = 0;

    IF @person_id IS NOT NULL AND @person_id != 0
    BEGIN
        -- ✅ Check if already a delivery person
        IF EXISTS (
            SELECT 1 FROM PersonDelivery WHERE person_id = @person_id
        )
        BEGIN
            SET @isfound = 1; -- ✅ person already linked
        END
        ELSE
        BEGIN
            -- Insert into DeliveryProvider
            INSERT INTO DeliveryProvider (Provider_Type, note_text, active_bit, created_at, update_at)
            VALUES (@provider_type, @note_text, @active_bit, GETDATE(), NULL);

            SET @delivery_id = SCOPE_IDENTITY();

            -- Link person with new delivery provider
            INSERT INTO PersonDelivery (delivery_person_id, person_id)
            VALUES (@delivery_id, @person_id);

            INSERT INTO regiondelivery (delivery_id, region_id)
            SELECT @delivery_id, Region_id
            FROM Regions
            WHERE Name IN (SELECT regionname FROM @regionnames);

			insert into DeliveryWorkingHours (delivery_id,weekday,open_time,close_time)
			select @delivery_id,weekday,open_time,close_time
			from @hourworkday
        END
    END
    ELSE
    BEGIN
        -- Insert new person
        INSERT INTO Person (first_name, last_name, email, password, sex, phone_number, created_date)
        VALUES (@first_name, @last_name, @email, @passward, @sex, @phonenumber, GETDATE());

        SET @person_id = SCOPE_IDENTITY();

        -- Insert delivery provider
        INSERT INTO DeliveryProvider (Provider_Type, note_text, active_bit, created_at, update_at)
        VALUES (@provider_type, @note_text, @active_bit, GETDATE(), NULL);

        SET @delivery_id = SCOPE_IDENTITY();

        -- Link person with delivery provider
        INSERT INTO PersonDelivery (delivery_person_id, person_id)
        VALUES (@delivery_id, @person_id);

        INSERT INTO regiondelivery (delivery_id, region_id)
        SELECT @delivery_id, Region_id
        FROM Regions
        WHERE Name IN (SELECT regionname FROM @regionnames);
		insert into DeliveryWorkingHours (delivery_id,weekday,open_time,close_time)
			select @delivery_id,weekday,open_time,close_time
			from @hourworkday;
    END

    COMMIT TRANSACTION;
END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION;
    THROW;
END CATCH;

GO
