USE [online_shop]
GO
/****** Object:  Table [dbo].[PersonDelivery]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonDelivery](
	[delivery_person_id] [int] NOT NULL,
	[person_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonDelivery]  WITH CHECK ADD FOREIGN KEY([delivery_person_id])
REFERENCES [dbo].[DeliveryProvider] ([delivery_Id])
GO
ALTER TABLE [dbo].[PersonDelivery]  WITH CHECK ADD FOREIGN KEY([person_id])
REFERENCES [dbo].[Person] ([person_id])
GO
