USE [online_shop]
GO
/****** Object:  Table [dbo].[DeliveryProvider]    Script Date: 7/30/2025 4:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryProvider](
	[delivery_Id] [int] IDENTITY(1,1) NOT NULL,
	[Provider_Type] [varchar](20) NULL,
	[note_text] [text] NULL,
	[active_bit] [bit] NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryProvider]  WITH CHECK ADD CHECK  (([Provider_Type]='Agent' OR [Provider_Type]='Shop' OR [Provider_Type]='Person'))
GO
