USE [online_shop]
GO
/****** Object:  StoredProcedure [dbo].[GetDelivery]    Script Date: 8/10/2025 2:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[GetDelivery](@shoplatitude decimal(10,7),@shoplongitude decimal(10,7),
@clientlatitude decimal(10,7) ,@clientlongitude decimal(10,7),@shopid int)
as
begin

Declare @shoppoint geography=geography::Point(@shoplatitude,@shoplongitude,4326);
Declare @clientpoint geography=geography::Point(@clientlatitude,@clientlongitude,4326);

select dp.delivery_Id,dp.Provider_Type,dp.note_text,dp.active_bit,dp.created_at,p.first_name,p.last_name 
,email,phone_number
from DeliveryProvider dp inner join regiondelivery rd on dp.delivery_Id=rd.delivery_id
inner join regions r on rd.region_id=r.Region_id
inner join PersonDelivery pd on dp.delivery_Id=pd.delivery_person_id
inner join Person p on pd.person_id=p.person_id
where (Area.STIntersects(@shoppoint)=1 and Area.STIntersects(@clientpoint)=1)
and dp.Provider_Type='person'and dp.active_bit=1;


select dp.delivery_Id,dp.Provider_Type,dp.note_text,dp.active_bit,dp.created_at,da.name,
email,phone_number
from DeliveryProvider dp inner join regiondelivery rd on dp.delivery_Id=rd.delivery_id
inner join regions r on rd.region_id=r.Region_id
inner join DeliveryAgent da on dp.delivery_Id=da.Delivery_Agent_Id
where( Area.STIntersects(@shoppoint)=1 and Area.STIntersects(@clientpoint)=1)
and dp.Provider_Type='Agent'and dp.active_bit=1;


select dp.delivery_Id,dp.Provider_Type,dp.note_text,dp.active_bit,created_at,shop_id
from DeliveryProvider dp inner join regiondelivery rd on dp.delivery_Id=rd.delivery_id
inner join regions r on rd.region_id=r.Region_id
inner join ShopDelivery sd on dp.delivery_Id=sd.delivary_shop_id
where( Area.STIntersects(@shoppoint)=1 and Area.STIntersects(@clientpoint)=1)
and dp.Provider_Type='shop'and dp.active_bit=1 and sd.shop_id=@shopid;
end

/*
open check_cursor
fetch next from check_cursor into @declery_id,@provider_type

while @@FETCH_STATUS=0
begin
if @provider_type='person'
begin 
select delivery_Id,Provider_Type,note_text,active_bit,created_at into #tempersondelvery
from DeliveryProvider dp inner join PersonDelivery ped on dp.delivery_Id=ped.delivery_person_id
inner join Person p on dp. */


GO
